:root {
  --primary-color: #5E9D44;
  --primary-brand-color-lightened-3: rgb(115, 133, 84);;
  --primary-brand-color-lightened-2: #6d7e50;
  --primary-brand-color-lightened-1: #72A653;
}

#app {
  display: flex;
  height: 100%;
  margin: 0;
  position: relative;
  background: var(--primary-brand-color-lightened-3);
  overflow: auto;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
}